body {
    background-color: #4CAF50; 
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
}

form {
    display: inline-block;
    margin-top: 20px;
    background-color: #4CAF50;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}

th {
    background-color: #333;
    color: white;
}
